.outer_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.container {
}
.wrapper {
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 5px 10px #888888;
  height: auto;
  width: 200px;
  text-align: center;
  margin: 20px;
}

h4 {
  color: red;
}
